.favorite-container{
  background-color: aliceblue;
  color: $div-color;
  text-align: left;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.favorite-name{

  font-size: 32px;
}
.favorite-phone{
  font-size: 16px;

}
.favorite-location{
  font-size: 16px;
}
