*{
    box-sizing: border-box;
}

body{
    background-color: $div-color;
    text-align: center;
    margin: 0 auto;
}
.main-container{
    background-color: lightgrey;
    padding: 25px;
    margin-top: 10px;
    display: inline-block;
    h1{
      font-family: $header-font;
      color: $div-color;
    }
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.right-container{
  display: flex;
}
.left-container{
  width: 70vw;
}

.favorites-button{
  display: inline;
  margin-left: 10px;
}
