$sans: Helvetica, sans-serif;
$brown: #db8146;


$header-font:'Kumar One', cursive;
$body-font:'Oswald', sans-serif;
$inner-body:'Bubbler One', sans-serif;





$background-color: aliceblue;
// $header-color:
// $body-color:
$div-color:rgb(222, 87, 0);
