<% @businesses.each do |business| %>
<div class="favorite-container">
  <div class='favorite-name'><%= business.business_name %></div>
  <div class='favorite-location'><%= business.business_location %></div>
  <div class='favorite-phone'><%= business.business_phone %></div>
</div>
<% end %>
