<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Kumar+One|Oswald" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Business</title>
  </head>
  <body>
    <div class="navBar">
      <ul>
        <li><a href="/business_finder">Business Finder</a></li>
        <li><a href="/favorites">Favorites</a></li>
      </ul>
    </div>
    <div class="main-container">
      <h1>Please Sign into or Create an Account</h1>
      <%= yield %>
    </div>
    <div id="react">
    </div>
    <div id="reactPageSwitch">
    </div>
    <div class="yelp-image"></div>
    <script type="text/jsx" src="scripts/scripts.js"></script>
  </body>
</html>
